@{
    ViewData["Title"] = "Royal Shoes";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="../Views/Login/Login.cshtml">Login</a>
</div>
